<html>
<head>

</head>

<body>

<nav>
  <ul>
    <li><a href={% url 'about:about' %}>關於公益地圖</a></li>
    <li><a href={% url 'about:about' %}>呼叫公益超人</a></li>
    <li><a href={% url 'about:about' %}>我要當公益超人</a></li>
    <li><a href={% url 'about:about' %}>會員專區</a></li>
    <li><a href={% url 'about:about' %}>統計資料</a></li>
    {% if user.get_username %}
    <li><a href="{% url 'userLogin:userLogout' %}">登出({{user.get_username}})</a></li>
  {% else %}
    <li><a href="{% url 'userLogin:userLogin' %}">登入</a></li>
  {% endif %}
  </ul>
</nav>
<div id=content >

{% if messages %}
  {% for message in messages %}
    {{message}}
    <br>
  {% endfor %}
{% endif %}

{% block content %}
main.html
{% endblock %}
</div>
</body>
</html>