{% extends 'about/aboutMain.html' %}
{% block about %}
<p>It's A Bird... It's A Plane... It's Superman ，超人又火速趕過去幫助別人了，超人耳朵 非常靈敏，可聽見遠方的呼救聲，
馬上趕赴救援，真是太偉大了。如果這個社會能夠有很多樂於助 人的超人，隨時聽見附近是否有人需要幫助，那該多好。可惜大家心有餘而力不
足，沒有超人那麼 靈敏的耳朵只能徒呼奈何。還好現代科技進步，手機裝置幾乎人手一機，如果能有個 App，當你需要 幫助不管是緊急的或者
是需要長期的協助，不管你只是上公共廁所上完發現衛生紙沒了又喊不到 人，只是希望幾張衛生紙，或者孤兒院的志工短缺，只要你登錄上去，
在附近的人即時或者非即時 的伸出援手，營造一個互助的溫暖社會。 這個 App 以地圖的視覺化方式呈現查詢地點位置附近的各種需求資訊，並
且逐一條件篩選，過 濾出自己幫得上忙的訊息。或者手機可以設定預設訊息種類，當附近出現該類求助訊息，App 便即時 的發出通知。這種機
制需要不少的運作機制，例如 1. 為了避免一堆人都衝去，所以當你想要前去幫忙的時候，直接按下回應紐，而系統也回應 你取得當超人的機
會，那麼你就開始內褲反穿前往提供協助。 2. 為了避免有人惡作劇，發出假的求助訊息，會員需要以真實身分通過認證，才能發出求助 訊息
，而當取得會員資格之後若發出假訊息，則被停權。 3. ..... 諸如此類的運作規則，而求助訊息必須有各種不同的分類，例如求助的需求項
目、緊急程度和期間 設定。 雖然為善不求回報，但是簡單的統計還是可以給人小小的肯定，例如助人加點、被幫助扣點，這樣 會有積極的鼓
勵性質，幫助社會的正面導向。</p>
{% endblock %}